<!DOCTYPE html>
<html>

<head>
    <title>
        Stark Living. Popular products to make your life easier. 
    </title>


    <meta property="og:title" content="Stark Living" />
    <meta property="og:url" content=<%= url %> />
    <meta property="og:type" content="business.business" />
    <meta property="og:description" content="Products to make your life easier" />
    <meta property="og:image" content=<%= image_url %> />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <link href="/fonts/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/minty.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>

<body>
    <%- body %>

    <div class="d-flex justify-content-center mb-2"><a class="cursor grey_text" href="mailto:louisangelini@gmail.com">
        Web: <span class="over_under">  Louis Angelini </span> &nbsp <span class="oi oi-envelope-open"></span> </a></div>
</body>

</html>